<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style2.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Bungee+Shade&family=Homemade+Apple&family=Qwigley&family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/restaurants"<%- title === 'All Restaurants' ? 'class="active"' : '' %>>All Restaurants</a>
        <% if (user) { %>
          <a href="/restaurants/new" <%- title === 'Add a Restaurant' ? 'class="active"' : '' %>>New restaurant</a>
          <a href="/restaurants/favorites" <%- title === 'My Favorites' ? 'class="active"' : '' %>>My Favorites</a>
          <a  class="log-out" href="/logout">Log Out</a>
        <% } else { %>
          <a href="/auth/google">Log In With Google</a>
        <% } %>
    </nav>
    <main class="main-container">
      <div></div>
      <h1><%= title %> </h1>