

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

body{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url(https://cdn.choosechicago.com/uploads/2021/10/choose-chicago-homepage-slider-cnt.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  
  
}
.welcome{
  width: 500px;
  height: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(243, 138, 129));
  border-radius: 12px;
  /* background-attachment: fixed; */
  
 
}

a {
  margin: 10px;
}
/* @media (max-width: 1000px) {
  body {
    width: 1000px;
    height: 1000px;
  }
} */

@media (max-width: 450px) {
  body {
    background-image: url(https://cdn.choosechicago.com/uploads/2021/10/choose-chicago-homepage-slider-cnt.jpg);
    justify-content: center;
    align-items: center;
 }
 .welcome {
   width: 250px;
 }
}

/* @media(min-width: 1025px) {
  .welcome {

  }
} */