
body {
  background-image:url(https://images.unsplash.com/photo-1593059315234-fe82cafe19e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
}

.main-container {
  margin: 0 auto;
  background-color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: scroll;
  width: 80%;
  /* opacity: 0.5; */
}

.restaurants-image {
  display: flex;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  gap: 16px;
  padding-bottom: 16px;
}

.restaurant-info {
 width: 50%;
 text-align:left;
}


.images img {
  width: 155px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 12px;
}




a {
  width: 115px;
  height: 60px;
  justify-content: center;
  
}


body > nav {
    grid-area: nav;
    background-color: bisque;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 60px;
    width: 80%;
    margin: 0 auto;
}

.review-user {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.review-user img {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin-right: 8px;
  }

td, th, table {
    text-align: center;
    padding: 14px;
}
.restaurants-main{
   padding: 13px 0px 13px 0px;
}

#new-form {
  margin: 0px 10px 0px 10px;
}


nav > a {
    margin: 7px;
}

#favorites {
  margin-bottom: 13px;
  
}

.update {
  margin-top: 13px;
}

@media (max-width: 450px) {
  body {
    background-image: url(https://images.unsplash.com/photo-1593059315234-fe82cafe19e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
    justify-content: center;
    align-items: center;
  }
 .main-container {
    width: 500px;
    text-align: center;
  }
  .restaurants-image {
    display: block;
  }
}

/* .images {
  opacity: 1;
} */