<%- include('../partials/header') %>
<table>
    <thread>
        <th>Title</th>
        <th>Food Type</th>
        <th>Reviews</th>
        <th>Location(s)</th>
    </thread>
    <tbody>
        <% restaurants.forEach(function(r){ %> 
        <tr>
            <td><%= r.title %></td>
            <td><%= r.foodType %></td>
        </tr>
        <% }); %> 
    </tbody>
</table>

<%- include('../partials/footer') %>