<%- include('../partials/header') %>
<form id="new-form" action="/restaurants" method="POST">
    <label>Name of Restaurant:</label>
    <input type="text" name="name">
    <label>Food Type:</label>
    <input type="text" name="foodType">
    <label>Location:</label>
    <input type="'text" name="location">
    <input type="submit" value="Add Restaurant">
</form>
<%- include('../partials/footer') %>